Capstone/Drafting/brfss_codebooks/html/codebook19_llcp-v2-508.HTML
Capstone/Drafting/brfss_codebooks/html/USCODE22_LLCP_102523.HTML
Capstone/Drafting/brfss_codebooks/html/USCODE23_LLCP_021924.HTML
Capstone/Drafting/brfss_codebooks/pdf/CODEBOOK11_LLCP.pdf
Capstone/Drafting/brfss_codebooks/pdf/CODEBOOK12_LLCP.pdf
Capstone/Drafting/brfss_codebooks/pdf/CODEBOOK13_LLCP.pdf
Capstone/Drafting/brfss_codebooks/pdf/CODEBOOK14_LLCP.pdf
Capstone/Drafting/brfss_codebooks/pdf/codebook15_llcp.pdf
Capstone/Drafting/brfss_codebooks/pdf/codebook16_llcp.pdf
Capstone/Drafting/brfss_codebooks/pdf/codebook17_llcp-v2-508.pdf
Capstone/Drafting/brfss_codebooks/pdf/codebook18_llcp-v2-508.pdf
Capstone/Drafting/brfss_codebooks/pdf/codebook20_llcp-v2-508.pdf
Capstone/Drafting/brfss_codebooks/pdf/codebook21_llcp-v2-508.pdf
Capstone/Drafting/brfss_codebooks/pdf/codebook_10.pdf
Capstone/Drafting/BRFSS_Data/2010/CDBRFS10.ASC
Capstone/Drafting/BRFSS_Data/2010/CDBRFS10.csv
Capstone/Drafting/BRFSS_Data/2011/LLCP2011.ASC
Capstone/Drafting/BRFSS_Data/2011/LLCP2011.csv
Capstone/Drafting/BRFSS_Data/2012/LLCP12V3.ASC
Capstone/Drafting/BRFSS_Data/2012/LLCP2012.csv
Capstone/Drafting/BRFSS_Data/2013/LLCP13V3.ASC
Capstone/Drafting/BRFSS_Data/2013/LLCP2013.csv
Capstone/Drafting/BRFSS_Data/2014/LLCP14V3.ASC
Capstone/Drafting/BRFSS_Data/2014/LLCP2014.csv
Capstone/Drafting/BRFSS_Data/2015/LLCP2015.csv
Capstone/Drafting/BRFSS_Data/2015/llcp_multiq.html
Capstone/Drafting/BRFSS_Data/2016/LLCP16V3.ASC
Capstone/Drafting/BRFSS_Data/2016/LLCP2016.csv
Capstone/Drafting/BRFSS_Data/2017/LLCP17V3.ASC
Capstone/Drafting/BRFSS_Data/2017/LLCP2017.csv
Capstone/Drafting/BRFSS_Data/2018/LLCP18V3.ASC
Capstone/Drafting/BRFSS_Data/2018/LLCP2018.csv
Capstone/Drafting/BRFSS_Data/2019/LLCP19V3.ASC
Capstone/Drafting/BRFSS_Data/2019/LLCP2019.csv
Capstone/Drafting/BRFSS_Data/2020/LLCP2020.csv
Capstone/Drafting/BRFSS_Data/2020/LLCP20V3.ASC
Capstone/Drafting/BRFSS_Data/2021/LLCP2021.csv
Capstone/Drafting/BRFSS_Data/2021/LLCP21V3.ASC
Capstone/Drafting/BRFSS_Data/2022/LLCP2022.csv
Capstone/Drafting/BRFSS_Data/2022/LLCP22V2.ASC
Capstone/Drafting/BRFSS_Data/2023/LLCP2023.csv
Capstone/Drafting/BRFSS_Data/2023/LLCP23V2.ASC
Capstone/Drafting/data/DSDR-37166/37166-0007-Codebook-ICPSR.pdf
Capstone/Drafting/data/DSDR-37166/37166-0007-Data.rda
Capstone/Drafting/data/DSDR-38421/38421-0001-Codebook-ICPSR.pdf
Capstone/Drafting/data/DSDR-38421/38421-0001-Data.rda
Capstone/Drafting/data/DSDR-38853/38853-0001-Codebook-ICPSR.pdf
Capstone/Drafting/data/DSDR-38853/38853-0002-Codebook-ICPSR.pdf
Capstone/Drafting/data/RCMD-34363/34363-0001-Codebook.pdf
Capstone/Drafting/data/RCMD-37229/37229-0001-Codebook-ICPSR.pdf
Capstone/Drafting/data_processed/brfss_2010-2023_raw.rds
MovieLens/ml-10M100K/movies.dat
MovieLens/ml-10M100K/ratings.dat
MovieLens/ml-10M100K.zip
MovieLens/MovieLens.Rmd
